/* Top part  */
.top {
    flex-direction: column;
    align-items: center;
}

.heading-part {
    margin-left: 0px;
}
.search-part {
    margin-right: 0px;
    margin-bottom: 7px;
}

/* Middle part  */

.middle {
    flex-direction: column;
}
.options {
    /* position: unset; */
    padding-left: 0px;
    font-size: 0.6em;
    flex-direction: row;
    gap: 0px;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 9px;
    padding-top: 15px;
    width: auto;
}

.option {
    display: inline;
    width: 46px;
    margin: 0px 2px;
}

.options a {
    width: auto;
}

/* Movies part */

#cards {
    margin-left: 0px;
}

