* {
    margin: 0px;
    padding: 0px;
}

.top {
    /* position: fixed; */
    width: 100%;
    background-color:#00204a;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    //
}


.heading-part{
    display: flex;
    margin-left: 50px;
}


.main-heading {
    color: white;
    padding: 0px 10px;
    font-family: 'Bree Serif', serif;

}

.search-part {
   margin-right: 100px;
}

#search::placeholder {
     color: rgb(246, 246, 246);
     font-size: 1rem;
     font-family: 'Roboto', sans-serif;
}

#search:hover {
    background-color: #333131;
    color: azure;
}

#search {
    background-color: transparent;
    border: 2px solid #0df4e5;
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

/* Main Section */

.middle {
    /* padding-top: 4rem; */
    display: flex;
}

.options {
    /* position: fixed; */
    padding-top: 3rem;
    padding-left: 50px;
    width: 9rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;

}

.options a {
    display: block;
    width: 140px;
    text-decoration: none;
    padding-left: 5px;
}

.options > div {
    padding: 0.5rem 0px;
}

.options > div:hover {
    background-color: black;
    
}

.options > div a:hover {
    color: white;
}

/* Movies part */

#cards {
    width: 100%;
    background-color: #005792;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: rgb(232, 169, 124);
    padding: 5px;
    border: 2px solid rgb(255, 144, 144);
    margin: 4rem 2rem 2rem 2rem;
    width: 15rem;
    /* overflow:hidden;  */
    position: relative;
}


.title {
    padding-top: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
}

.rating {
    padding: 3px;
    font-family: 'Bree Serif', serif;
    font-size: 1.2rem;
}

strong {
    font-size: 1.2rem;
}

.overview {
    padding: 10px;
    position: absolute;
    bottom: 0px;
    opacity: 0;
    width: 220px;
    transition: transform 0.3s ease-in;
    background-color: white;
    font-family: "Poppins", sans-serif;
}

.overview:hover {
    cursor: pointer;
    opacity: 1;
}

.image {
    width: 15rem;
    height: 20rem;
}


iamge1 {
    font-family: 'Bree Serif', serif;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Ubuntu', sans-serif;
}
